
body {
    display: grid;
    grid-template-rows: 200px 1fr; 
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 25em;
    background-image: url("images/Strange 1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

@font-face {
    font-family: strangerthings;
    src: url(fonts/benguiatbold.ttf);
}

h1 {
    font-family: strangerthings;
    display: flex;
    justify-content: center;
    color: black;
    grid-area: 1 / 2;
    font-size: 4vw;
    text-shadow:
    -1px 0px 0px #a32620,
    1px 0px 0px #a32620,
    0px -1px 0px #a32620,
    0px 1px 0px #a32620;
}

#screen {
   background-color: #bcd60e;
   border: 2px solid gray;
   width: 210px;
   height: 132.63;
   margin: 45px 45px 0px  45px;
   grid-area: 1 / span 2;   
}

#light1 {
    margin-top: 5px;
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid whitesmoke;
}

#light2 {
    margin-top: 5px;
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid whitesmoke;
}

#light-cont1 {
    grid-area: 1;
    align-self: center;
    text-align: center;
}

#light-cont2 {
    grid-area: 2;
    align-self: center;
    text-align: center;
}

#player-name-container {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr;
    color: black;
    margin-bottom: 120px;
}

#player1-name {
    padding: auto;
    grid-area: 1 / 2;
}

#player2-name {    
    padding: auto;
    grid-area: 2 / 2;

}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: 3;
    padding-bottom: 20px;
    
}

#start, #reset {
    height: 40px;
    width: 120px;
    background-color: #6e7774;
    font-family: strangerthings;
    border: 2px solid black;
}

#antenna {
    background-color: black;
    width: 33px;
    margin-left: 90px;
    margin-top: 10px;
    border-left: 1px solid gray;
}

#walkie-talkie {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    place-self: start center;
    width: 300px;
    height: 570px;
    background-color: black;
    grid-area: 2 / 1;
    border: 2px solid black;
    font-size: 1.7em;
    -webkit-text-stroke: 1px #a32620;
    opacity: 1.0;

    background-image: url("images/strange3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#right-console {
    grid-area: 2 / 3 / auto / 4;
    place-self: end;
    align-self: self-start;
    width: 340px;
    height: 720px;
    background-color: #a32620;
    border: 2px solid black;
    text-align: center;
    font-size: 2em;
    -webkit-text-stroke: 1px #a32620;
    background-image: url("images/Vecna1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.0;
}


#container {
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self:  center;
    margin: 0px;
    width: fit-content;
    height: fit-content;
    border: 10px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    grid-template-areas: "TL TM TR"
                         "ML MM MR"
                         "BL BM BR";
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}

#TL {
    grid-area: TL;
    border-right: 3px solid black;
    border-bottom: 2px solid black;
    border: 2px solid black;
}

#TM {
    grid-area: TM;
    border: 2px solid black;
    
}

#TR {
    grid-area: TR;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#ML {
    grid-area: ML;
    border: 2px solid black;
    
}

#MM {
    grid-area: MM;
}

#MR {
    grid-area: MR;
}

#BL {
    grid-area: BL;
    border-top: 1px solid black;
    border-right: 3px solid black;
}

#BM {
    grid-area: BM;
}

#BR {
    grid-area: BR;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.symbolContain { /*container for X/O symbol inside divs*/
    -webkit-text-stroke: 1px #a32620;
    margin: 0 0 0 0;
}

.even { /*changes colors of divs*/
    background-color: #056284; /*#e25f33*/
}

.odd { /*changes colors of divs*/
    background-color: #a32620; /*#ea00d9*/
}